.container{
    height: 100%;
    /* width: 100%; */
    background-color: #1b2123;
}
nav{
    position: fixed;
    height: auto;
    width: 100%; 
    background-color:rgba(0, 0, 0, 0.912);

    /* below 2 lines aline the all list in center (horizontal - )*/
    display: flex;
    justify-content: center; 
    /* below line to aline list in vertical |  */
    align-items: center;

    /* z-index is used her to overlap nav and img and whos zindex is max will be at top */
    z-index: 5px;

}
li{
    /* font-size: 1.2rem; */
    font-size: 1.2vw;
    float: left; 
    padding: 5px;
    margin: 15px; color: aliceblue;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
li:hover{
    color: rgb(224, 95, 253);
    cursor: pointer;
}
.header_img{
    /* height: 60vh; */
    max-height: 60vh;
     width: 100%;
    z-index: 2px;
    object-fit: cover;

    /* height: 80vh;
    max-width: 40vh;
    width: 100%;
    object-fit: cover; */
    
    /* border: 7px solid red; */
}

/* about horo */
.content{
    /* min-height: 22vh; max-height: 40vh; */
    height: 22vh;
    width: 100%;
    /* background-color: blueviolet; */
    /* display: flex;
    justify-content: center; */
}
.headline{
    /* height: 4vh;  */
    /* height: auto;  */
    /* width: 100%; 
    float: left; */
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: center;
    color: white;
    padding: 1.5rem;
    /* font-size: 2rem; */
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
}
.k_horo{
    height: 10vh; width: 100%; 
    float: left;
    /* background-color: green;  */
    display: flex; align-items: center;
}

/* modal ___________________________________________________________________________________*/
.modal_bg{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100vh; 
    background-color: rgb(0, 0, 0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    /* opacity: 0; */
}
.modal{
    height: 30%; width: 30%;
    background-color: white;
    position: absolute;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.close_modal{
    top: 10px; right: 10px;
    position: absolute; 
    color: white;
    /* parent class bhi absolute hone chaheye is modal */
    cursor: pointer;
}
.modal_activity{
    visibility: visible;
}

.model_header{
    width: 100%; height: 10vh;
    background-color: rgb(94 75 119);
    display: flex;
    justify-content: center; align-items: center;
}
#modal_txt{
    font-weight: bold;
    font-size: 2vw; color: #1b2123; 
    letter-spacing: 0.6rem;   color: white;
}
.modal_body{
    width: 100%; height: 20vh;
    display: flex;
    justify-content: center; align-items: center;
}
#modal_txt_body{
    color: rgb(94 75 119); font-weight: bold;
    font-size: 2.4vw; letter-spacing: 0.2rem; 
}

/* find your horoscope _______________________________________________________________________________________________________ */
.inp_bd{
    height: 8vh;width: 100%; 
    float: left;
    /* background-color: brown;  */
    display: flex; align-items: center;
    justify-content: center;
}

.bd_elem{
    height: 8vh;
    width: 20%;
    /* background-color: aqua; */
    /* margin: 0.2rem; */
    /* padding: 1rem; */   
    display: flex; align-items: center;
}
#text_bd_el{
    /* font-size: 1.3rem; */
    font-size: 1.3vw;
    font-family: Arial, Helvetica, sans-serif;
    display: flex; justify-content: center;
    color: white;
}

#date_bd_el,#month_bd_el{
    display: flex; justify-content: center;
}
select{
    padding: 0.5rem 2rem;
    border: none; border-radius: 0.3rem;
}

.bd_elem > button {
    margin:2vh ; margin-left: 5vh;
            padding: 10px 30px;
            color: white;
            background-color:green; 
            border:none ; border-radius: 10px;
            font-weight:bolder; 
}

/* Sign's table________________________________________________________________________ */
/* Sign's table________________________________________________________________________ */
.sign{
    /* background-color: blue; */
    /* height: 70vh;  */
    width: 100%;
    display: flex; justify-content: center;
    /* align-items: center; */
}
.signs_all{
    display: grid;
    /* background-color: cadetblue; */
    width: 80%;
    margin-bottom: 10vh;
}
.sign_box{
    display: flex; justify-content: center;
    align-items: center;

    /* background-color: #9f2b69a9; */
    background-color: rgb(94 75 119 / 77%);
    /* background-color: rgba(173, 216, 230, 0.566);  */
    height: 20vh; 
    /* float: left; */
    border-radius: 0.2rem;
    margin: 0.3rem; margin-bottom: 0px;
}
@media (min-width: 400px) {
    .signs_all { grid-template-columns: repeat(2, 1fr); }
  }
@media (min-width: 700px) {
    .signs_all { grid-template-columns: repeat(3, 1fr); }
  }
@media (min-width: 1000px) {
    .signs_all { grid-template-columns: repeat(4, 1fr); }
  }
.sign_box:hover{
    background-color: #AA336A;
}
.sign_box>h1{
    /* font-size: 1.2rem;  */
    font-size: 1.2vw; 
    font-weight: 600;
    color: white; 
    letter-spacing: 0.08rem;
    font-family: Arial, Helvetica, sans-serif;
}
h1> a{
    text-decoration: none;
    color: white;
}

/* ____________________________________new page (capri_zodiac.html) */

.cap_container{
    /* width: 100%; */
    /* min-height: 100vh; */
    background-color: #1b2123;
    display: flex;
    justify-content: center;
}
.content_cap {
    /* height: 100vh;
    width: 90vw; */
    /* background-color: rgb(255, 192, 192); */
    /* margin: auto; */
}
.cap_heading{
    height: 15vh; width: 100%;
    /* background-color: aquamarine; */
    display: flex; justify-content: center;
    align-items:end;
}
#head_cap{
    font-size: 2vw; font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800; color: lightgray;
}
.parent_cap_box{
    /* height: 80vh;  */
    width: 100%;
    /* background-color: lightgoldenrodyellow; */
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
}
.cap_box_pic{
    /* width: 43vw;  */
    /* height: 80vh;  */
    max-width: 40vh;
    /* background-color: lightsalmon;
    border: 5px solid black; */
    flex:1 1 200px;
    margin: 10px; 
    margin-top: 40px;
}
#cap_card{
    height: 80vh;
    max-width: 40vh;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 5px 10px 10px #88888851;
}

.cap_box_txt{
    width: 43vw;
    /* height: 80vh;  */
    padding: 1rem;
    /* background-color: lightgreen; */
    /* border: 5px solid black; */
    flex:1 1 300px; 
    margin: 10px; 
    
}
#cap_per_traits{
    /* height: 55vh; width: 100%; */
    /* background-color: lightgray; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.cap_traits{
    /* height: auto; width: 100%; */
    /* background-color: #AA336A; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cap_traits_row1{
    /* height: auto; width: 100%; */
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
}
.cap_traits_row2{
    /* height: auto; width: 100%; */
    display: flex;
    justify-content: space-around;
    /* background-color: blue; */
} 
.cap_traits_1{
    display: flex;
    /* height: 21vh; */
     width: 44%;
    background-color: rgba(240, 255, 255, 0.678);
    border-radius: 0.2rem;
    margin: 10px; 
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    
}
.min_box_cap_head{
    /* height: 3vh; width: 100%; */
    padding: 0.5rem;
    background-color:#F0E68C;
    display: flex;
    justify-content: center; align-items: center; 
}
.min_box_cap_head_h1{
    font-size: 0.9vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.1rem;
}
.min_box_cap_txt{
    /* height: auto; width: 100%; */
    margin-top: 10px;
    /* background-color: orange; */
    display: flex;
    justify-content: center; align-items: center;
}
.min_box_cap_head_p{
    font-size: 0.9vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
}
.att_cap_traits{
    /* height: 25vh; width: 100%; */
    /* background-color: yellow; */
    display: flex; 
    justify-content: center; 
}
.att_cap_traits_context{
    /* height: 20vh; width: 100%; */
    background-color: rgba(240, 255, 255, 0.678);
    border-radius: 0.2rem;
}

@media (max-width:800px) {
    .parent_cap_box{height: auto;}
}


/* ____________________________________new page (aqua_zodiac.html) */

#head_aqua{
    font-size: 2vw; font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800; color: lightgray;
}

#aqua_card{
        height: 80vh;
        max-width: 40vh;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
        box-shadow: 5px 10px 10px #88888851;
    }
#aqua_per_traits{
    /* height: 55vh; width: 100%; */
    /* background-color: lightgray; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.min_box_aqua_head{
    /* height: 3vh; width: 100%; */
    padding: 0.5rem;
    background-color:#87CEEB;
    display: flex;
    justify-content: center; align-items: center; 
}

/* ____________________________________new page (pisces_zodiac.html) */

#head_pisces{
    font-size: 2vw; font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800; color: lightgray;
}

#pisces_card{
        height: 80vh;
        max-width: 40vh;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
        box-shadow: 5px 10px 10px #88888851;
    }
#pisces_per_traits{
    /* height: 55vh; width: 100%; */
    /* background-color: lightgray; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.min_box_pisces_head{
    /* height: 3vh; width: 100%; */
    padding: 0.5rem;
    background-color:#98fb98;
    display: flex;
    justify-content: center; align-items: center; 
}

/* ____________________________________new page (aries_zodiac.html) */

#head_aries{
    font-size: 2vw; font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800; color: lightgray;
}

#aries_card{
        height: 80vh;
        max-width: 40vh;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
        box-shadow: 5px 10px 10px #88888851;
    }
#aries_per_traits{
    /* height: 55vh; width: 100%; */
    /* background-color: lightgray; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.min_box_aries_head{
    /* height: 3vh; width: 100%; */
    padding: 0.5rem;
    background-color:#CD5C5C;
    display: flex;
    justify-content: center; align-items: center; 
}

/* ____________________________________new page (taurus_zodiac.html) */

#head_taurus{
    font-size: 2vw; font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800; color: lightgray;
}

#taurus_card{
        height: 80vh;
        max-width: 40vh;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
        box-shadow: 5px 10px 10px #88888851;
    }
#taurus_per_traits{
    /* height: 55vh; width: 100%; */
    /* background-color: lightgray; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.min_box_taurus_head{
    /* height: 3vh; width: 100%; */
    padding: 0.5rem;
    background-color: #96DED1;
    display: flex;
    justify-content: center; align-items: center; 
}

/* ____________________________________new page (gemini_zodiac.html) */

#head_gemini{
    font-size: 2vw; font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800; color: lightgray;
}

#gemini_card{
        height: 80vh;
        max-width: 40vh;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
        box-shadow: 5px 10px 10px #88888851;
    }
#gemini_per_traits{
    /* height: 55vh; width: 100%; */
    /* background-color: lightgray; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.min_box_gemini_head{
    /* height: 3vh; width: 100%; */
    padding: 0.5rem;
    background-color: 	#FFFAA0 ;
    display: flex;
    justify-content: center; align-items: center; 
}

/* ____________________________________new page (cancer_zodiac.html) */

#head_cancer{
    font-size: 2vw; font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800; color: lightgray;
}

#cancer_card{
        height: 80vh;
        max-width: 40vh;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
        box-shadow: 5px 10px 10px #88888851;
    }
#cancer_per_traits{
    /* height: 55vh; width: 100%; */
    /* background-color: lightgray; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.min_box_cancer_head{
    /* height: 3vh; width: 100%; */
    padding: 0.5rem;
    background-color: #ecebe9 ;
    display: flex;
    justify-content: center; align-items: center; 
}

/* ____________________________________new page (leo_zodiac.html) */

#head_leo{
    font-size: 2vw; font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800; color: lightgray;
}

#leo_card{
        height: 80vh;
        max-width: 40vh;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
        box-shadow: 5px 10px 10px #88888851;
    }
#leo_per_traits{
    /* height: 55vh; width: 100%; */
    /* background-color: lightgray; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.min_box_leo_head{
    /* height: 3vh; width: 100%; */
    padding: 0.5rem;
    background-color: 	#F4BB44 ;
    display: flex;
    justify-content: center; align-items: center; 
}

/* ____________________________________new page (virgo_zodiac.html) */

#head_virgo{
    font-size: 2vw; font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800; color: lightgray;
}

#virgo_card{
        height: 80vh;
        max-width: 40vh;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
        box-shadow: 5px 10px 10px #88888851;
    }
#virgo_per_traits{
    /* height: 55vh; width: 100%; */
    /* background-color: lightgray; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.min_box_virgo_head{
    /* height: 3vh; width: 100%; */
    padding: 0.5rem;
    background-color: #7FFFD4 ;
    display: flex;
    justify-content: center; align-items: center; 
}

/* ____________________________________new page (libra_zodiac.html) */

#head_libra{
    font-size: 2vw; font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800; color: lightgray;
}

#libra_card{
        height: 80vh;
        max-width: 40vh;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
        box-shadow: 5px 10px 10px #88888851;
    }
#libra_per_traits{
    /* height: 55vh; width: 100%; */
    /* background-color: lightgray; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.min_box_libra_head{
    /* height: 3vh; width: 100%; */
    padding: 0.5rem;
    background-color: #F8C8DC ;
    display: flex;
    justify-content: center; align-items: center; 
}

/* ____________________________________new page (scorpio_zodiac.html) */

#head_scorpio{
    font-size: 2vw; font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800; color: lightgray;
}

#scorpio_card{
        height: 80vh;
        max-width: 40vh;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
        box-shadow: 5px 10px 10px #88888851;
    }
#scorpio_per_traits{
    /* height: 55vh; width: 100%; */
    /* background-color: lightgray; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.min_box_scorpio_head{
    /* height: 3vh; width: 100%; */
    padding: 0.5rem;
    background-color: #ff7171 ;
    display: flex;
    justify-content: center; align-items: center; 
}

/* ____________________________________new page (sagittarius_zodiac.html) */

#head_sagittarius{
    font-size: 2vw; font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800; color: lightgray;
}

#sagittarius_card{
        height: 80vh;
        max-width: 40vh;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
        box-shadow: 5px 10px 10px #88888851;
    }
#sagittarius_per_traits{
    /* height: 55vh; width: 100%; */
    /* background-color: lightgray; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.min_box_sagittarius_head{
    /* height: 3vh; width: 100%; */
    padding: 0.5rem;
    background-color: 	#a1587a ;
    display: flex;
    justify-content: center; align-items: center; 
}